<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>this will inherit all the properties of our base html</title>
</head>
<body>
	<section>
		<h1>this is new about section</h1>
		<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente
		 libero iure asperiores saepe aut rem pariatur harum repellat labore
		  sit obcaecati commodi cum soluta error iusto quae laboriosam adipisci
		   eaque ex voluptatibus. Possimus illo id aut dolor tempore aspernatur 
		   odio perferendis molestias iste. Fugiat iure sunt laboriosam cupiditate
		    animi voluptates.
		 </p>
	</section>
</body>
</html>